{% extends 'base.html.twig' %}

{% block title %}War of the Ponies - Quête en cours{% endblock %}

{% block body %}
<div class="container-fluid vh-100">
    <div class="d-flex flex-column m-auto text-center h-100 align-items-center justify-content-center">

    <h3>{{ quest.name }}</h3>
    <p>{{ quest.description }}</p>
    <div class="progress w-75" title="{{ remain }} minutes restantes">
        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemax="100" aria-valuemin="0" style="width:{{ progress }}%">{{ remain }} minutes restantes</div>
    </div>
    <p></p>
    <div>
    {% if remain == 0 %}
            <a class="btn btn-primary" href="{{ path('quest_reward') }}">Finir la Quête</a>
        {% endif %}
        <a href="{{ path('character_details', {'id': character.id }) }}" class="btn btn-outline-primary">Revenir au personnage</a>
    </div>

</div>
</div>
{% endblock %}
