{% extends 'base.html.twig' %}

{% block title %}Prêt à jouer!{% endblock %}

{% block body %}

<div class="container-fluid vh-100">
    <div class="d-flex flex-column m-auto text-center h-100 align-items-center justify-content-center">

    <p>{{ character.name }} combat un(e) {{ monster.name }}</p>
    <ul>
        {% for turn in result.turn %}
            <li>{{ turn.recap }} 
                {% if turn.monsterhp is defined %}
                    {% if turn.monsterhp > 0 %}
                        <span class="badge badge-rounded bg-danger">{{ turn.monsterhp }} HP</span>
                    {% else %}  
                        <span class="badge badge-rounded bg-danger">Dead</span>
                    {% endif %}
                {% else %}
                    {% if turn.characterhp > 0 %}
                        <span class="badge badge-rounded bg-success">{{ turn.characterhp }} HP</span>
                    {% else %}  
                        <span class="badge badge-rounded bg-success">Down</span>
                    {% endif %}  
                {% endif %}
            </li>
        {% endfor %} 
    </ul>
    <p>{{ result.recap.message }} {% if result.recap.xp is defined %}<span class="badge badge-rounded bg-warning">{{ result.recap.xp }} xp</span>{% endif %}</p>

    <a href="{{ path('character_details', {'id': character.id, 'name' : character.name }) }}" class="btn btn-primary">Retour</a>

</div>
</div>
{% endblock %}
