{% extends 'base.html.twig' %}

{% block title %}War of the Ponies - Liste des monstres!{% endblock %}

{% block body %}


<div class="container-fluid vh-100">
    <div class="d-flex flex-column m-auto text-center h-100 align-items-center justify-content-center">

    {% if character.actions > 0 %}

    <h3 class="mb-4">Quel monstre voulez vous affronter?</h3> 

    <div class="d-flex flex-row justify-content-around">
        <a class="btn btn-outline-danger me-3" href="{{ path('monster_fight', { 'id' : 1 }) }}">Poney Andalou</a>

        <a class="btn btn-outline-primary me-3" href="{{ path('monster_fight', { 'id' : 2 }) }}">Goblin</a>

        <a class="btn btn-outline-success" href="{{ path('monster_fight', { 'id' : 3 }) }}">Chaise</a>
    </div>

    <a class="btn btn-outline-secondary mt-5" href="{{ path('character_details', {'id': character.id, 'name' : character.name }) }}">Retour au Personnage</a>

    {% else %}

    <p>Vous n'avez plus d'énergie!</p>
        <a class="btn btn-outline-secondary mt-3" href="{{ path('character_details', {'id': character.id, 'name' : character.name }) }}">Retour au Personnage</a>

    {% endif %}
</div>
</div>
{% endblock %}
